# Ignore node modules
node_modules/

# Ignore build output
build/

# Ignore environment files
.env

# Ignore local npm dependencies
.npm/

# Ignore logs
*.log

# Ignore test and coverage directories
__tests__/
coverage/

# Ignore IDE specific files
.idea/
.vscode/
*.swp
*.swo
*.swn

# Ignore git files
.git/
.gitignore
